# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.so

# Dagster
logs/
.dagster/
.dagster_home/

# Jupyter/VSCode
.ipynb_checkpoints/
.vscode/

# Ambiente virtual
.venv/
venv/
ENV/

# Dados e resultados
populacao_municipios_ceara.csv
estatisticas_populacao_ceara.json
dashboard_populacao_ceara.png

# Testes
.pytest_cache/
coverage/
htmlcov/

# Outros
*.log
*.tmp
*.bak
*.swp
.DS_Store
.tmp/
.tmp_dagster_home_*
